/ {
    ws2812: ws2812 {
        compatible = "worldsemi,ws2812";
        label = "WS2812";
        chain-length = <12>;         /* ajuste para o número real de LEDs */
        spi-max-frequency = <4000000>;
        data-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;  /* P0.06 -> confirme no seu PCB */
        color-order = "GRB";
        status = "okay";
    };

    zmk,underglow {
      compatible = "zmk,underglow";
      label = "ZMK Underglow";
      chain-length = <12>;
      color-order = "GRB";
      spi-max-frequency = <4000000>;
      data-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
      status = "okay";
      brightness = <128>;
};
};
